.flipCard {
  @apply h-64 my-4 px-2 text-brand-3-1;
  background-color: transparent;
  flex: 1 1 100%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */

  @screen sm {
    flex: 1 1 33%;
  }
}

/* This container is needed to position the front and back side */
.flipCardInner {
  @apply w-full h-full text-center;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flipCardFront,
.flipCardBack {
  @apply w-full h-full absolute rounded;
  backface-visibility: hidden;
}

/* Style the back side */
.flipCardBack {
  @apply bg-brand-2-3;
  transform: rotateY(180deg);
}

.flipCardFront {
  text-shadow: 1px 1px 5px black;
}
