.btn {
  @apply py-2 px-6 border-2 rounded-lg shadow-md flex justify-center items-center;
  &:hover {
    @apply shadow-xl;
  }
  &:active {
    @apply shadow-none;
  }
}

.responsive-columns {
  @apply p-2 my-4;

  @screen sm {
    columns: 2;
  }

  @screen md {
    columns: 3;
  }
}

.bg-svg {
  @apply pb-6;
  background-image: url("/img/bg-mask.svg");
  background-position: bottom;
  background-size: 108%;
  background-repeat: no-repeat;
}

.simple-page-md {
  @apply px-6 py-10 rounded-lg text-brand-4-6;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid theme("colors.brand-4.2");
  & h2 {
    @apply font-bold text-2xl mt-2 pt-1 font-serif;
    border-top: 1px dotted theme("colors.brand-4.4");
  }
}
